.form-row{padding:5px 15px; display:flex; justify-content:center;}
.col:first-child{width:calc(80% - 15px);}
.col:last-child{width:20%;padding-left:15px;}
.col{text-align:right;}
.form-row div div{clear:both;text-align:right;}

label{
    display:inline-block;padding-right:15px;
filter:drop-shadow(0 0 15px #FB2F88) brightness(2);
color:#ff4d91;
  background: -webkit-linear-gradient(#ff4d91,#FB2F88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transform: rotate(-5deg);

}
.form-row  select, input{width:200px;}
button{height:30px; width:100%;text-align:center;}
button{
        -webkit-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  -moz-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  -o-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  box-shadow:
    0px 0px 35x 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
    background:none;
    width:100%;
    text-align:center;
    font-family:'Montserrat',sans-serif;
    font-weight:bold;
        background:rgba(70,195,233,0.3);
    border:3px solid white;
    filter:brightness(1);
    /*Make it better */
    cursor:pointer;
}
button p{
    margin:0;
    font-size:20px;
    font-family:'Yellowtail';
      background: -webkit-linear-gradient(#ff4d91,#FB2F88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    filter:brightness(3);
}
#copybutton{height:30px;}
#output{width:calc(90% - 5px);height:70px;}

#egg{visibility:hidden;}
#egg iframe{height:0px; width:0px;}
.container{height:100vh; width:100vw;
    position:fixed;
overflow:hidden;
    -webkit-filter: brightness(2);
          filter: brightness(2);

}
body{
      background-color:#6D4390;
    background-image: url('./bg.jpg');
    background-position:center 10%;
}


.triangle {
  border-top: rgba(48,11,51,0.87) 280px solid;
  border-left: transparent 280px solid;
  border-right: transparent 280px solid;
  -webkit-transform: skewX(30deg) rotate(5deg);
          transform: skewX(30deg) rotate(5deg);
  position: absolute;
  top: 30px;
  left: 10px;
  -webkit-filter: drop-shadow(-10px 14px 0px rgba(48,11,51,0.87));
          filter: drop-shadow(-10px 14px 0px rgba(48,11,51,0.87));
}
#header div{position:absolute; left:calc(50% - 400px); top:100px;}
#headertitle{margin-top:-20px;margin-left:-30px}
#header{width:400px;
      -webkit-filter: brightness(1);
          filter: brightness(1);}
#header h1{
    font-family:'Yellowtail';
    font-size:5em;
    color:#ff4d91;
    filter:drop-shadow(0 0 2px #ff4d91);
    margin:0;
    margin-top:-30px;
}
#header h2{
    margin:0;
    margin-left:60px;
    font-family: 'Montserrat', sans-serif;
  background: -webkit-linear-gradient(top, #e0cde1 0%, #4b1c4b 51%, #400047 51%, #675460 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 0 5px #4b1c4b);
          filter: drop-shadow(0 0 5px #4b1c4b);
  font-size: 4em;
  text-align: center;

}
.form-box-perspective{
       -webkit-perspective:300px;
    perspective:300px;
    z-index:5;
}
.form-box{

        -webkit-transform: rotateX(20deg); /* Chrome, Safari, Opera  */
    transform: rotateX(20deg);
    z-index:5;
    width:500px;
    padding:10px;
    top:300px;
    left:calc(50% - 250px);
    position:relative;
    background:#62bfc8;
    background-color:rgba(75, 28, 75,0.7);
    font-family:'Yellowtail',sans-serif;
    font-weight:bold;
    border:3px solid white;
    font-size:24px;

     -webkit-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  -moz-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  -o-box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
  box-shadow:
    0px 0px 5px 3px #E96CD0,
    inset 0px 0px 5px 3px #E96CD0;
           -webkit-filter: brightness(.5);
          filter: brightness(.5);}
}
.grain {

    background:none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.grain-wrap,
.grain iframe {
    opacity:0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

#getpumped{
    width:50%;
}
input, select, textarea{
    font-family:'Audiowide', sans-serif;
    background:black;
    color:green;
    border:3px solid white;
}
