html{font-family:sans-serif;}


label{display:inline-block;padding-right:15px;}
.form-row  select, input{width:150px;}
button{height:30px; width:100%;text-align:center;padding:none; margin:auto;}
.form-row{padding:5px 15px; display:flex; justify-content:center;}
.col:first-child{width:calc(80% - 15px);}
.col:last-child{width:20%;padding-left:15px; }
.col{text-align:right;}
.form-row div div{clear:both;text-align:right;vertical-align:center;}
h1{margin-left:calc(50% - 250px);}
#output{width:calc(90% - 5px);height:70px;}

.container{height:100vh; width:100vw;
    position:fixed;
overflow:hidden;
}

button{
    width:100%;
    margin:5px;
    height:auto;
    text-align:center;
    font-weight:bold;
    border:3px solid white;
    filter:brightness(1);
    /*Make it better */
    cursor:pointer;

}
button p{
    margin:0;
}

.form-box{
    width:500px;
    padding:10px;
    top:10px;
    left:calc(50% - 250px);
    position:relative;
    background:#8DD6F0;
    font-weight:bold;
    border:3px solid #0C4496;
    font-size:18px;
}

input[type='checkbox']{
    width:15px;

    margin-right:135px;
}

input[type='checkbox'] + label{
    font-size:16px;
}
.checkwrap{}

.grain, #egg, .easter-egg{display:none; important!}
